
body,
html {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

a:link {
  text-decoration: none !important;
  font-weight: bold;
  box-shadow: none !important;
}

@import "../third-party/fontawesome/scss/fontawesome";
@import "../third-party/fontawesome/scss/regular";
@import "../third-party/fontawesome/scss/solid";
@import "../third-party/fontawesome/scss/brands";
@import "../third-party/fontawesome/scss/v4-shims.scss";